body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
.headerwrapper {
  padding: 170px;

  width: 800px;
}
.headerwrapper img {
  width: 250px;
  padding-top: 20px;
}
.navigation {
  display: flex;
  float: right;
  width: 55%;
  justify-content: space-between;
  margin: -80px;
}
.navbar {
  display: flex;

  width: 700px;
  height: 100px;
}
.navbar ul {
  list-style-type: none;
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  display: inline-block;
  padding: 8px;
  color: #495e57;
  font-weight: bold;
  text-decoration: none;
}
li a:hover {
  color: #0f0f0f;
}
.basket {
  width: 24px;
  position: relative;
  top: 14px;
}
.main {
  display: flex;
  padding: 80px;
  justify-content: space-between;
  align-content: center;
  background-color: #495e57;
  width: 1300px;
  height: 300px;
}
.reserveButton h1 {
  color: #f4ce14;
  font-family: "Markazi Text", serif;
  font-size: 64pt;
  font-weight: 500;
  margin-top: -30px;
  margin-left: 130px;
}
.reserveButton > h2 {
  color: white;
  font-family: "Markazi Text", serif;
  font-size: 40pt;
  font-weight: 400;
  margin-top: -85px;
  margin-left: 130px;
}
.reserveButton p {
  font-family: "Karla";
  font-size: 14pt;
  color: white;
  line-height: 1.1;
  margin-top: -35px;
  margin-left: 130px;
}
.reserveButton button {
  background-color: #f4ce14;
  width: 170px;
  height: 35px;
  border-radius: 15px;
  font-weight: bold;
  margin-left: 130px;
  cursor: pointer;

  border-color: #f4ce14;
  color: #0f0f0f;
}
.chefImg img {
  margin-right: 200px;
  width: 400px;
  border-radius: 10px;
  height: 480px;
  margin-top: -25px;
}
.orderOnline {
  display: flex;
  justify-content: space-around;
  padding: 100px;
  align-items: center;
}
.orderOnline h2 {
  font-size: 40pt;
  font-weight: 300;
  font-family: "Markazi Text", serif;
}
.menuButton button {
  background-color: #f4ce14;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 100px;
  cursor: pointer;
  border-color: #f4ce14;
  color: #0f0f0f;
}
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.greekSalad {
  background-color: #edefee;
  width: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  height: 600px;
}
.H1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 25px;
}
.H1 h3 {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
}
.P1 {
  color: #ee9972;
  font-size: 18px;
}
.T1 {
  line-height: 1.4;
  font-size: 16px;
  padding: 20px;
  margin-top: -5px;
}
.I1 img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.D1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  padding: 0px;
}
.D1 p {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
  margin: 5px;
}
.bruchetta {
  background-color: #edefee;
  width: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  height: 600px;
}
.H2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 25px;
}
.H2 h3 {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
}
.P2 {
  color: #ee9972;
  font-size: 18px;
}
.T2 {
  line-height: 1.4;
  font-size: 16px;
  padding: 20px;
  margin-top: -5px;
}
.I2 img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.D2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  padding: 22px;
}
.D2 p {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
  margin: 5px;
}
.lemonDessert {
  background-color: #edefee;
  width: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  height: 600px;
}
.H3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 25px;
}
.H3 h3 {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
}
.P3 {
  color: #ee9972;
  font-size: 18px;
}
.T3 {
  line-height: 1.4;
  font-size: 16px;
  padding: 20px;
  margin-top: -5px;
}
.I3 img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.D3 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  padding: 0px;
}
.D3 p {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
  margin: 5px;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #495e57;
  padding: 20px;
}
.Openingtime {
  color: #edefee;
  line-height: 1.2;
}
.Contact {
  color: #edefee;
  line-height: 1.2;
}
.socialMedia {
  line-height: 1.2;
}
.socialMedia a {
  text-decoration: none;
  color: #edefee;
  cursor: pointer;
}
.socialMedia a:hover {
  color: #000a04;
}
.socialMedia h2 {
  color: #edefee;
}
.copywrite {
  color: #edefee;
  background-color: #495e57;

  margin: -20px;
}
.copywrite p {
  text-align: center;
}
.hamburger {
  display: none;
  float: left;
}
@media (max-width) {
}
